#top-container {
  background: #0bc770;
  min-height: 800px;
  padding:230px 0;
}

#block {
  display:block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: #fff url(../img/block.png) no-repeat 43px;
  /* background-position-x: center;
  background-position-y: center; */
  
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

.animated-001 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  /* -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; */
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  /*-webkit-animation-direction: reverse;
  animation-direction: reverse;*/
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}






@-webkit-keyframes fadeIn {
  /* from { opacity: 0; }
  to { opacity: 1; } */
  
  /* 0% { opacity: 0; width: 100px; height: 100px; }
  25% { opacity: 1; }
  50% { opacity: .5; width: 200px; height: 200px; }
  90% { opacity: 1; }
  100% { opacity: 0; width: 0px; height: 0px; } */
  
  /* 0% { opacity: 0; margin: 100px auto; }
  100% { opacity: 1; margin: 0 auto; } */

  0% { 
    opacity: 0; 
    -webkit-transform: perspective(400px) rotateX(90deg); 
    transform: perspective(400px) rotateX(90deg);
  }

  100% { 
    opacity: 1; 
    -webkit-transform: perspective(400px) rotateX(-30deg); 
    transform: perspective(400px) rotateX(-30deg);
  }
  
}






@keyframes fadeIn {
  /* from { opacity: 0; }
  to { opacity: 1; } */
  
  /* 0% { opacity: 0; width: 100px; height: 100px; }
  25% { opacity: 1; }
  50% { opacity: .5; width: 200px; height: 200px; }
  90% { opacity: 1; }
  100% { opacity: 0; width: 0px; height: 0px; } */
  
  /* 0% { opacity: 0; margin: 100px auto; }
  100% { opacity: 1; margin: 0 auto; } */

  0% { 
    opacity: 0; 
    -webkit-transform: perspective(400px) rotateX(90deg); 
    transform: perspective(400px) rotateX(90deg);
  }

  100% { 
    opacity: 1; 
    -webkit-transform: perspective(400px) rotateX(-30deg); 
    transform: perspective(400px) rotateX(-30deg);
  }
  
}





















